.App {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  justify-items: stretch;
}

nav {
  flex: 0 0 auto;
}

nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav > ul > li {
  margin: 0 20px;
}

nav a {
  color: #61dafb;
}

#scroller {
  flex: 1 1 0;
  overflow-y: scroll;
  min-width: 0;
}

body {
  background-color: black;
}